.top-navbar .bg-light{
	padding-top:0px;
	padding-bottom: 15px;
	box-shadow: 0 0 18px 0 rgba(0,0,0,.12);
}
.top-navbar .navbar-expand-lg .navbar-nav{
	background: #94a5bd;
	border-radius: 5px;
}
.top-navbar .navbar-light .navbar-nav .nav-item{
	position: relative;
}
.top-navbar .navbar-light .navbar-nav .nav-link{
	padding: 10px 18px;
	color: #ffffff;
	position: relative;
}
.top-navbar .navbar-light .navbar-nav .nav-item::before{
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	width: 100%;
	height: 0%;
	display: block;
	opacity: 0;
	border-radius: 5px;
	background-color: #015778;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active::before{
	opacity: 1;
	height: 100%;
}
.top-navbar .navbar-light .navbar-nav .nav-item:hover::before{
	opacity: 1;
	height: 100%;
}
.top-navbar .navbar-light .navbar-nav li .dropdown-menu{
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
	border: none;
	border-radius: 5px;
	margin: 0px;
}
.top-navbar.fixed-menu .bg-light{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	visibility: visible;
	transform: translate(0,0) scale(1);
	transition: .3s;
}
.btn-outline-success{
	background: #94a5bd;
	border-radius: 5px;    
}